@import "flag-icons/css/flag-icons.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --yellow:#E8FF00
}
*{
  cursor: url("/cursor.cur"), auto;
}
body, html, .__next {
  height: 100%;
}
body::-webkit-scrollbar {
  display: none;
}

[data-collapsible="true"].bg-white + [data-collapsible="true"].bg-white,
[data-collapsible="true"].bg-slate-100
  + [data-collapsible="true"].bg-slate-100 {
  @apply pt-0 md:pt-0;
}
